&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";

	cs-gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
	sck-pin = <26>;
	mosi-pin = <28>;
	miso-pin = <31>;
};

&spi0 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	
	cs-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
	sck-pin = <8>;
	mosi-pin = <6>;
	miso-pin = <2>;	
};